<div class="login-container">
  @if (isloading) {
    <mat-spinner></mat-spinner>
  }@else {
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>تسجيل الدخول</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>البريد الالكتروني</mat-label>
          <input matInput type="email" formControlName="email" placeholder="ادخل البريد الالكتروني" required />
          @if (form.get('email')?.invalid && form.get('email')?.touched) {
          <mat-error>الرجاء إدخال بريد إلكتروني صالح.</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>كلمة المرور</mat-label>
          <input matInput type="password" formControlName="password" placeholder="ادخل كلمة المرور" required />
          @if (form.get('password')?.invalid && form.get('password')?.touched) {
          <mat-error>الرجاء إدخال كلمة المرور.</mat-error>
          }
        </mat-form-field>
        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            تسجيل الدخول
          </button>
        </div>
      </form>

    </mat-card-content>
  </mat-card>
  }
</div>