<header>
    <div class="collapse" style="background: #0f071f;" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <app-matselect></app-matselect>
            <!-- <h4 class="text-white">حول</h4>
            <p class="text-muted">أضف بعض المعلومات حول الألبوم، المؤلف، أو أي سياق خلفية آخر. اجعلها بضع جمل حتى يتمكن الزوار من التقاط بعض التلميحات المفيدة. ثم اربطها ببعض مواقع التواصل الاجتماعي أو معلومات الاتصال.</p>
           -->
          </div>
          <!-- <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">تواصل معي</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">تابعني على تويتر</a></li>
              <li><a href="#" class="text-white">شاركني الإعجاب في فيسبوك</a></li>
              <li><a href="#" class="text-white">راسلني على البريد الإلكتروني</a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark shadow-sm" style="background: #0f071f;">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center m-1">
          <strong>الاعراس</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="تبديل التنقل">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
</header>
  

<!--   
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">مثال الألبوم</h1>
          <p class="lead text-muted">وصف قصير حول الألبوم أدناه (محتوياته ، ومنشؤه ، وما إلى ذلك). اجعله قصير ولطيف، ولكن ليست قصير جدًا حتى لا يتخطى الناس هذا الألبوم تمامًا.</p>
          <p>
            <a href="#" class="btn btn-primary mx-1">الدعوة الرئيسية للعمل</a>
            <a href="#" class="btn btn-secondary mx-1">عمل ثانوي</a>
          </p>
        </div>
      </div>
    </section> -->