<div class="col">
    <mat-card onclick="" class="shadow-sm ">
      <img [src]="event().filePath.at(0)" alt="">
      <mat-card-content style="margin: 2%;">
        <p>{{event().name}}</p>
      </mat-card-content>
      <mat-card-content style="margin: 2%;">
        <p>{{event().description}}</p>
      </mat-card-content>
      <mat-card-content style="margin: 2%;">
        <p>{{event().location}}</p>
      </mat-card-content>
      <mat-card-content style="margin: 2%;">
        <p>{{event().date}}</p>
      </mat-card-content>

    </mat-card>
</div>

  