   <div class="form-container">
    <mat-card class="event-card">
      <mat-card-header>
        <mat-card-title>إنشاء فعالية</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" #eventForm="ngForm" class="event-form">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>اسم الفعالية</mat-label>
            <input
              matInput
              type="text"
              id="name"
              [(ngModel)]="eventData.name"
              name="name"
              required
              placeholder="ادخل اسم الفعالية"
            />
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>الوصف</mat-label>
            <textarea
              matInput
              id="description"
              [(ngModel)]="eventData.description"
              name="description"
              required
              placeholder="ادخل الوصف"
            ></textarea>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>التاريخ</mat-label>
            <input
              matInput
              type="date"
              id="date"
              [(ngModel)]="eventData.date"
              name="date"
              required
            />
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>الموقع</mat-label>
            <input
              matInput
              type="text"
              id="location"
              [(ngModel)]="eventData.location"
              name="location"
              required
              placeholder="ادخل الموقع"
            />
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>الحجم</mat-label>
            <input
              matInput
              type="text"
              id="capacity"
              [(ngModel)]="eventData.capacity"
              name="capacity"
              required
              placeholder="ادخل الحجم"
            />
          </mat-form-field>
  
          <div class="form-group">
            <label for="file" class="file-label">صورة الفعالية:</label>
            <input
              type="file"
              id="file"
              (change)="onFileSelected($event)"
              required
            />
          </div>
  
          <div class="actions">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!selectedFile || !eventForm.valid"
            >
              إنشاء
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  
  