   <div class="form-container">
    <mat-card class="event-card">
      <mat-card-header>
        <mat-card-title>Create Event</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" #eventForm="ngForm" class="event-form">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Event Name</mat-label>
            <input
              matInput
              type="text"
              id="name"
              [(ngModel)]="eventData.name"
              name="name"
              required
              placeholder="Enter event name"
            />
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              id="description"
              [(ngModel)]="eventData.description"
              name="description"
              required
              placeholder="Enter event description"
            ></textarea>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Date</mat-label>
            <input
              matInput
              type="date"
              id="date"
              [(ngModel)]="eventData.date"
              name="date"
              required
            />
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Location</mat-label>
            <input
              matInput
              type="text"
              id="location"
              [(ngModel)]="eventData.location"
              name="location"
              required
              placeholder="Enter event location"
            />
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Capacity</mat-label>
            <input
              matInput
              type="text"
              id="capacity"
              [(ngModel)]="eventData.capacity"
              name="capacity"
              required
              placeholder="Enter event capacity"
            />
          </mat-form-field>
  
          <div class="form-group">
            <label for="file" class="file-label">Event Image:</label>
            <input
              type="file"
              id="file"
              (change)="onFileSelected($event)"
              required
            />
          </div>
  
          <div class="actions">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!selectedFile || !eventForm.valid"
            >
              Submit
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  